/*
Nombre Completo: Carolina Bustamante Escobar
Clan: Dell
fecha: 09/04/2024
*/

/* Importaciones iconos y fuente */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Reset de estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
}

/* Variables */

:root{
    --oscuro: #181E4B;
    --claro:  #6b5cff;
    --blanco: #F9FAFC;
}

/* Scroll */

html{
    scroll-behavior: smooth;
}

#requisitos, #acerca, #registro{
    scroll-margin-top: 80px;
}

/* Estilos generales */

body{
    padding: 10px;
    background-color: var(--blanco);
}

.purple{
    color: var(--claro);
}

.oscuro{
    color: var(--oscuro);
}

.titles-italic{
    font-style: italic;
    text-align: center;
    font-size: 64px;

}

.btn-purple{
    background-color: var(--claro);
    color: var(--blanco);
    border: none;
    border-radius: 20px;
    padding: 5px;
}

.icono-purple{
    color: var(--claro);
    font-size: 36px;
}

/*-- Formularios --*/

.input{
    border: 1px solid var(--claro);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.input:focus{
    outline: 1px solid var(--claro);

}

.btn-form{
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid var(--oscuro);
}

/* - margin top - */

.text-margin-top{
    margin-top: 30px;
}


/* -- secciones -- */

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.article{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}


/* -- imagenes -- */

.img{
    border-radius: 50px;
    width: 80vh;
}

/* Header */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 30px;
    position: fixed;
    top: 0;
    background-color: var(--blanco);
}

.iconos-logo{
    width: 16px;
}

#nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Primer section */

#primera-section{
    margin-top:70px
}

#formulario-solicitud form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
}

/* Tabla tercera section - sedes */

th{
    border-bottom: 5px solid var(--claro);
}

/* Cuarta section - requisitos  &  Quinta section - Registro */

.column-center{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -- Requisitos --*/

#container-requisitos{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    margin: 25px;
}

/*-- Formulario --*/

#registro{
    width: 40%;
    margin: auto;
}

#title-form{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
}

.input-registro{
    width: 100%;
}






